@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }

  html, body {
    height: auto !important;
    overflow: visible !important;
  }

  .h-screen, .flex-col {
    height: auto !important;
  }

  main {
    overflow: visible !important;
  }
}
